<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Gateway Dashboard</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.4/css/bulma.min.css"></link>
    <script src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    <style>
        .section {
            padding: 1.5rem 1.5rem;
        }
    </style>
</head>
<body>
    <section class="section">
        <div class="container">
            <h1 class="title">CollectionSpace Public Gateway</h1>
            <p class="subtitle">Service Dashboard</p>
        </div>
    </section>
    <section class="section">
        <div class="container">
            <div class="buttons">
                <a class="button is-link is-outlined is-rounded" href="cspace-services/systeminfo">
                    CollectionSpace System Information
                </a>
                <a class="button is-link is-outlined is-rounded" href="es/_count">
                    Elasticsearch Index Information
                </a>
            </div>
        </div>
    </section>
    <section class="section">
        <div class="container">
            <h2 class="subtitle">Configuration</h2>
            <table class="table is-bordered is-fullwidth">
                <thead>
                    <tr>
                        <th>Property</th>
                        <th>Value</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="c : ${config}">
                        <td th:text="${c.key}">key</td>
                        <td th:text="${c.value}">value</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </section>
</body>
</html>
